/* base */

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Para Firefox */
  -webkit-box-sizing: border-box; /* Para WebKit/Blink */
}

body {
  color: $color-primary-brand;
  font-family: 'Roboto';
  background-color: $bg-all-page;
  padding: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

.error {
  color: $color-error;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 0;
}