/* Search */

.search {
  margin-bottom: 40px;

  &__content {
    display: flex;
    justify-content: flex-end;
  }

  &__input {
    font-size: 16px;
    border: 1px solid $color-generic-line;
    border-radius: 2px;
    margin-right: 20px;
    padding: 4px 10px;
  }

  &__btn-clear {
    color: $color-secondary-brand;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid $color-generic-line;
    border-radius: 2px;
    cursor: pointer;
    padding: 0 10px;
    transition-duration: .3s;

    &:hover {
      color: $color-third-brand;
      background-color: $color-fourth-brand;
      border-color: $color-fourth-brand;
    }
  }

}