/* variables */

$color-primary-brand: #000;
$color-secondary-brand: #777;
$color-third-brand: #F7F7F7;
$color-fourth-brand: #4A249D;

$color-generic-line: #C1C1C1;
$color-error: #C3002F;

$bg-all-page: #FFF;
$bg-navbar: #F6F5F5;